* {margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
	font-family: PPMonumentExtended;
	src: url(fonts/PPMonumentExtended-Black.otf);
}

@keyframes idlepos {
	0% {transform: translateY(0px);}
	50% {transform: translateY(-10px);}
	100% {transform: translateY(0px);}
}

.headtitle {
	font-size: 65px;
	text-align: center;
	padding-top: 10px;
	font-family: PPMonumentExtended;
}

.headtitle span {
	display: inline-block;
	animation: idlepos 4s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

header {
	height: 90px;
}

body {
	font-size: 17px;
	font-family: arial;
	color: #fff;
	background-color: #111;
}

footer {
	padding-top: 20px;
	padding-bottom: 40px;
}

h3 {
	margin-bottom: 5px;
}

h5 {
	color: #ccc;
	margin-bottom: 5px;
}

p {
	margin-bottom: 5px;
}

a {
	color: #5c7a8e;
	text-decoration: none;
	target: _blank;
}

li {
	list-style: none;
}

hr {
	border: 0;
	border-top: 1px solid #555;
	border-bottom-width: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
}

iframe {
	margin-top: 10px;
}

section {
	width: 456px;
	margin-right: auto;
	margin-left: auto;
}

.links {
	display: flex;
	justify-content: space-between;
}

.blogs_wrapper {
}

.footerico {
	display: block;
	margin-inline: auto;
}