* {margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
	font-family: CourierPrime;
	src: local('CourierPrime-Regular.ttf'),
		url('fonts/CourierPrime-Regular.ttf');
}

body {
	font-size: 16px;
	font-family: CourierPrime;
	color: #ae5a69;
	background-color: #1b1f24;
}

main {
	width: 352px;
}

p {
	text-align: justify;
}

a {
	color: #ec6e83;
	text-decoration: none;
}

nav {
	height: 100%;
	padding: 20px;
	margin-bottom: 20px;
	color: #ec6e83;
	background-color: #652b37;
}

li {
	list-style: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 8px;
	border: 1px solid;
}

header {
	width: 100%;
}

footer {
	margin-bottom: 20px;
	font-size: 12px;
	text-align: center;
}

hr {
	border-color: #ec6e83;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ec6e83;
}

h3 {
	padding-bottom: 4px;
}

img {
	width: 100%;
	padding: 20px;
}

.main {
	width: 500px;
	margin: auto;
}

.hbox {
	display: flex;
	flex-direction: row;
}

.vbox {
	display: flex;
	flex-direction: column;
}

.center {
	margin: auto;
}

.wavyheader span {
	display: inline-block;
	animation: idlepos 4s ease-in-out infinite;
	animation-delay: calc(0.5s * var(--i));
}

@keyframes idlepos {
	0% {transform: translateY(0px);}
	50% {transform: translateY(-10px);}
	100% {transform: translateY(0px);}
}